<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta name="author" content="{{ site.author | xml_escape }}">
    <link rel="icon" href="favicon.ico">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/screen.css">
    <script src="https://use.fontawesome.com/releases/v5.0.6/js/all.js" integrity="sha384-0AJY8UERsBUKdWcyF3o2kisLKeIo6G4Tbd8Y6fbyw6qYmn4WBuqcvxokp8m2UzSD" crossorigin="anonymous"></script>

    {% include analytics.html %}
  </head>

  <body>
    <header class="fixed-top zindex-sticky w-100 p-2">
      <div class="container">
        <h1>{{ site.title | smartify }}</h1>
      </div>
    </header>

    <!-- Let's be all hipster and do video! -->
    <section id="video-section">
      <div class="embed-responsive position-absolute mw-100 h-100">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed?listType=playlist&list=PL491AFF4FFB7EE803&autoplay=1&controls=0&showinfo=0&autohide=1&loop=1&rel=0"></iframe>
      </div>

      <div id="content-wrapper" class="position-relative h-100 mw-100">
        <div class="container landing">
          <div class="h-100 d-flex align-items-center">
            <div class="my-auto text-center w-100">
              {% capture landing %}{% include home/landing.md %}{% endcapture %}
              {{ landing | markdownify }}
            </div>
          </div>
        </div>
      </div>

      <div class="position-absolute bounce" style="bottom: 1rem; left: 50%; width: 2rem; margin-left: -1rem;" >
        <a class="smooth-scroll" href="#content"><div><i class="fas fa-angle-down fa-3x text-white"></i></div></a>
      </div>
    </section>
    <section id="content">
      <div class="container pt-2">
        <h1>{{ site.title | smartify }}</h1>

        {{ content }}
      </div>

      <footer>
        <ul class="list-inline text-center pt-5">
          <li class="list-inline-item"><a href="https://github.com/kusma"><i class="fab fa-github fa-3x text-muted"></i></a></li>
          <li class="list-inline-item"><a href="https://twitter.com/kusmabite"><i class="fab fa-twitter fa-3x text-muted"></i></a></li>
          <li class="list-inline-item"><a href="https://plus.google.com/u/0/+kusmabite"><i class="fab fa-google-plus-g fa-3x text-muted"></i></a></li>
          <li class="list-inline-item"><a href="https://www.youtube.com/kusmabite"><i class="fab fa-youtube fa-3x text-muted"></i></a></li>
          <li class="list-inline-item"><a href="https://www.linkedin.com/in/erik-faye-lund-7a87112/"><i class="fab fa-linkedin fa-3x text-muted"></i></a></li>
        </ul>
      </footer>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
var $header = $("header");
var $video_section = $("#video-section");
function updateScroll() {
  $header.css("opacity", 1 - $(window).scrollTop() / $video_section.height());
}
$(window).scroll(updateScroll);
updateScroll();

$(document).ready(function(){
  var timer;
  var fadingIn = false;
  var $content_wrapper = $('#content-wrapper');
  $("html").mousemove(function() {
    if (!fadingIn) {
      $content_wrapper.stop().animate({opacity: 1}, 100, function() { fadingIn = false; });
      fadingIn = true;
    }

    if (timer) {
      clearTimeout(timer);
    }
    timer = setTimeout(function() {
      fadingIn = false;
      $content_wrapper.stop().animate({opacity: 0}, 1000);
    }, 1000)
  })
  $content_wrapper.animate({opacity: 0}, 3000);
});

$('.smooth-scroll').click(function(event) {
  if (this.hash !== "") {
    event.preventDefault();
    var hash = this.hash;
    $('html, body').animate({
      scrollTop: $(hash).offset().top
    }, 800, function(){
      window.location.hash = hash;
    });
  }
});
    </script>
  </body>
</html>
