<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ site.description | xml_escape }}">
    <meta name="author" content="{{ site.author | xml_escape }}">
    <link rel="icon" href="favicon.ico">

    <title>{{ site.title }}</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="css/screen.css">

    {% include analytics.html %}
  </head>

  <body>

    <!-- Let's be all hipster and do video! -->
    <section>
      <div class="embed-responsive position-absolute w-100 h-100" style="z-index: -99">
        <iframe class="embed-responsive-item" src="http://www.youtube.com/embed?listType=playlist&list=PL491AFF4FFB7EE803&autoplay=1&controls=0&showinfo=0&autohide=1"></iframe>
      </div>

      <div class="row h-100 mw-100">
        <div class="position-absolute w-100 m-2">
          <div class="container">
            <h3>{{ site.title | smartify }}</h3>
          </div>
        </div>
        <div class="container">
          <div class="row h-100 d-flex align-items-center">
            <div id="content-wrapper" class="my-auto text-center w-100 ">
              {{ content }}
            </div>
          </div>
        </div>
      </div>
    </section>

    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha384-xBuQ/xzmlsLoJpyjoggmTEz8OWUFM0/RC5BsqQBDX2v5cMvDHcMakNTNrHIW2I5f" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    <script>
$(document).ready(function(){
  var timer;
  var fadingIn = false;
  var $content_wrapper = $('#content-wrapper');
  $("html").mousemove(function() {
    if (!fadingIn) {
      $content_wrapper.stop().animate({opacity: 1}, 100, function() { fadingIn = false; });
      fadingIn = true;
    }

    if (timer) {
      clearTimeout(timer);
    }
    timer = setTimeout(function() {
      fadingIn = false;
      $content_wrapper.stop().animate({opacity: 0}, 1000);
    }, 1000)
  })
});

    </script>
  </body>
</html>
