---
layout: default
---
<header class="fixed-top zindex-sticky w-100 p-2">
  <div class="container">
    <h1>{{ site.title | smartify }}</h1>
  </div>
</header>

<!-- Let's be all hipster and do video! -->
<section id="video-section">
  <div class="embed-responsive position-absolute mw-100 h-100">
    <iframe id="video" class="embed-responsive-item" src="https://www.youtube.com/embed?listType=playlist&list=PL491AFF4FFB7EE803&enablejsapi=1&controls=0&showinfo=0&autohide=1&loop=1&rel=0"></iframe>
  </div>

  <div id="content-wrapper" class="position-relative h-100 mw-100">
    <div class="container landing">
      <div class="h-100 d-flex align-items-center">
        <div class="my-auto text-center w-100">
          <div id="play-icon">
            <i class="fas fa-play fa-3x text-white"></i>
          </div>
          <h2>Here, watch some of my demos</h2>
          <p>
          Press anywhere to start playing.
          </p>
          <p>
          When you're done being entertained, click the icon below.
          </p>
        </div>
      </div>
    </div>
  </div>

  <div id="down-arrow" class="position-absolute bounce" style="bottom: 1rem; left: 50%; width: 2rem; margin-left: -1rem;" >
    <a class="smooth-scroll" href="#content"><div><i class="fas fa-angle-down fa-3x text-white"></i></div></a>
  </div>
</section>
<section id="content">
  <div class="container pt-2">
    <h1>{{ site.title | smartify }}</h1>

    {{ content }}
  </div>

  {% include footer.html %}
</section>

<script>
  var tag = document.createElement('script');
  tag.src = 'https://www.youtube.com/iframe_api';
  var firstScriptTag = document.getElementsByTagName('script')[0];
  firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

  var player;
  function onYouTubeIframeAPIReady() {
    player = new YT.Player('video');
  }
  var $header = $("header");
  var $video_section = $("#video-section");
  function updateScroll() {
    $header.css("opacity", 1 - $(window).scrollTop() / $video_section.height());
  }
  $(window).scroll(updateScroll);
  updateScroll();

  $(document).ready(function(){
    var $content_wrapper = $('#content-wrapper');
    $content_wrapper.click(function() {
      var $play_icon = $('#play-icon');
      $play_icon.addClass('hidden');
      $content_wrapper.fadeOut(1000);
      player.playVideo();
    });
    $('#down-arrow').click(function() {
      player.pauseVideo();
    });
  });

  $('.smooth-scroll').click(function(event) {
    if (this.hash !== "") {
      event.preventDefault();
      var hash = this.hash;
      $('html, body').animate({
        scrollTop: $(hash).offset().top
      }, 800, function() {
        window.location.hash = hash;
      });
    }
  });
</script>
